Pillow
Python_ARQ
aiofiles
aiohttp
akinator
asyncio
ffprobe
gTTS
hijri_converter
httpx[http2]>=0.18.1,<1.0.0
kvsqlite
meval==2.5
mutagen
psutil
py-cpuinfo
pySmartDL
pydub
pyrogram==2.0.97
pysocket
pytio
pytube
pytz
redis
requests
shazamio
SpeechRecognition
telegraph
tgcrypto
uuid
wget
youtube_search
yt_dlp